<div class="footer" [ngClass]="{footerFullWidth: isContentNoMaxWidth}">
    <div class="inner">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <strong>Air UI Admin Template - Best Solution for Your Next Big App!</strong>
                </p>
                <p>
                    Air UI is a set of modern professional Html / React / Vue and Angular based templates. This is a powerful and super flexible tool, which suits best for any kind of web application: Web Sites, Web Applications, Hybrid Apps, CRM, CMS, Admin Panels, etc.
                </p>
                <p>&copy; 2019 Mediatec Software</p>
            </div>
            <div class="col-md-4">
                <div class="logo">
                    <img src="assets/images/air-logo.png" alt="Air UI" />
                    <div class="logoName">Farmatodo</div>
                    <div class="logoDescr">Admin Template</div>
                </div>
            </div>
        </div>
    </div>
</div>