<div class="container" style="margin-top: 25px">
    <div class="row">
        <div class="col-sm-5">
            <h5 class="o-heading" style="margin-bottom:30px;">
                Bloqueo de Datos
            </h5>
        </div>
        <div class="col-sm-7 o-content align-right align-start">
            <app-input-search (onSearch)="search($event)" #inpsrh></app-input-search>
            <select name="tpSelect" [(ngModel)]="tpSelect" class="form-control tpSelect" (change)="selectChange(inpsrh.strkey)">
				<option value="5">Producto</option>
				<option value="4">Identificación</option>
				<option value="2">Telefono</option>
				<option value="1">Correo Electrónico</option>
				<option value="3">Dirección</option>
				<option value="6">Bin</option>
			</select>
        </div>
    </div>
</div>
<div class="data-body">
    <div class="row">
        <div class="col-sm-4">
            <af-card-blocked [cdtype]="4" [onRefresh]="onRefresh"></af-card-blocked>
        </div>
        <div class="col-sm-4">
            <af-card-blocked [cdtype]="2" [onRefresh]="onRefresh"></af-card-blocked>
        </div>
        <div class="col-sm-4">
            <af-card-blocked [cdtype]="6" [onRefresh]="onRefresh"></af-card-blocked>
        </div>
        <div class="col-sm-6">
            <af-card-blocked [cdtype]="1" [onRefresh]="onRefresh"></af-card-blocked>
        </div>
        <div class="col-sm-6">
            <af-card-blocked [cdtype]="3" [onRefresh]="onRefresh"></af-card-blocked>
        </div>
        <!-- <div class="col-sm-4" >
			<div class="card-disabled"></div>
		</div> -->
    </div>
    <div class="row mb15">
        <div class="col-sm-12">
            <af-product-blocked [onRefresh]="onRefresh"></af-product-blocked>
        </div>
    </div>
</div>


<div class="modal fade" [ngClass]="{'show': modal}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-custom modal-sm">
        <div class="modal-content" *ngIf="modal">
            <div class="head mb-4">
                <div class="close" (click)="closeModal()"><i class="fa fa-times"></i></div>
            </div>
            <div class="content">
                <div class="modal-body">
                    <table class="tblSearch " *ngIf="regblocked">
                        <thead *ngIf="regblocked.tp !=5">
                            <th width="*%">Tipo</th>
                            <th width="*%">Dato</th>
                            <th width="50px">&nbsp;</th>
                        </thead>
                        <thead *ngIf="regblocked.tp ==5">
                            <th width="60px">&nbsp;</th>
                            <th width="100px">ID</th>
                            <th width="*%">Nombre</th>
                            <th width="*%">Descripción</th>
                            <th width="50px">&nbsp;</th>
                        </thead>
                        <tbody *ngIf="regblocked.tp !=5">
                            <td>{{ _titles[regblocked.tp-1] }}</td>
                            <td>{{ regblocked.data }}</td>
                            <td width="50px" class="text-right">
                                <div class="btn-item" style="margin:0 auto;" (click)="rmButton(regblocked.data, regblocked.id)">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </td>
                        </tbody>
                        <tbody *ngIf="regblocked.tp == 5">
                            <td><img class="imgProduct" [src]="regblocked.data.image"></td>
                            <td class="text-truncate" [title]="regblocked.data.id"> {{ regblocked.data.id }}</td>
                            <td class="text-truncate" [title]="regblocked.data.name">{{ regblocked.data.name }}</td>
                            <td class="text-truncate" [title]="regblocked.data.desc">{{ regblocked.data.desc }}</td>
                            <td class="text-right">
                                <div class="btn-item" style="margin:0 auto;" (click)="rmButton(regblocked.data.name, regblocked.id)">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </td>
                        </tbody>
                    </table>
                    <div class="user-list border-danger uk-border-rounded" *ngIf="regblocked.listCustomer && regblocked.listCustomer.length > 0">
                        <h6 class="mb-2 mt-2"><strong>Lista de usuarios asociados</strong></h6>
                        <table class="tblSearch ">
                            <thead>
                                <th class="font-size-10">Id</th>
                                <th class="font-size-10">Nombre</th>
                                <th class="font-size-10">Cédula</th>
                                <th class="font-size-10">Télefono</th>
                                <th class="font-size-10">Correo</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of regblocked.listCustomer">
                                    <td class="font-size-10">{{user.id}}</td>
                                    <td class="font-size-10">{{user.firstname}} {{user.lastname}}</td>
                                    <td class="font-size-10">{{user.documentNumber}}</td>
                                    <td class="font-size-10">{{user.phone}}</td>
                                    <td class="font-size-10">{{user.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="user-inf border-top mt-2" *ngIf="regblocked.user">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-2 mt-2"><strong>Elimado por:</strong></h6>
                            <ul class="list-unstyled ml-auto">
                                <li class="item border-0 p-0">
                                    <div class="itemHead mt-2">
                                        <div class="itemPic mr-2">
                                            <img src="assets/images/avatars/avatar.png" alt="image" />
                                        </div>
                                        <div class="mr-2">
                                            <div>{{regblocked.user.employeeName}}</div>
                                            <div class="text-muted text-lowercase">{{regblocked.user.rolName}}</div>
                                            <div class="text-primary small"><strong>Número: </strong> {{regblocked.user.employeeNumber}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closeModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlshowBlocked" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" [ngClass]="{'modal-lg': regblocked?.tp == 5}" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>