.td-title {
    background: #f2f4f8;
    font-weight: bold;
    color: #161537;
    padding: 5px 10px;
    text-align: center;
}

.editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    .placeholder {
        opacity: 0.5;
    }
}

.editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}