.ant-input-prefix {
    margin: auto !important;
}

.card-boby {
    min-height: 200px;
}

.row-subscribe {
    cursor: pointer;
    font-size: 10pt;
}

.row-subscribe:hover td {
    background-color: #f3f4f8;
}

.max-width-300 {
    max-width: 300px;
}