<div class="row">
    <div class="col-lg-12">
        <h6 class="font-resalt text-body font-size-16" style="font-size: 15px;">Carga de guías</h6>
        <general-data-options [uploadGuide]="upoladGuideConf" [disabled]="valuesTable.loading" [contentUploadFull]="true"></general-data-options>
    </div>
</div>

<nz-tabset (nzSelectChange)="changeTab($event)" class="mb-2">
    <nz-tab nzTitle="Rango de fechas">
        <div class="row m-0" *ngIf="active_number == 1">
            <nz-range-picker [(ngModel)]="dateRange" [nzSize]="'default'" (ngModelChange)="changeValues($event)"></nz-range-picker>
            <div class="ml-auto">
                <ng-container [ngTemplateOutlet]="options"></ng-container>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Número de documento">
        <div class="row m-0" *ngIf="active_number == 2">
            <nz-input-group class="col-lg-6">
                <input style="min-height: 60px;" type="number" [(ngModel)]="number" (ngModelChange)="changeValues($event)" nz-input placeholder="Ingrese número de documento" />
            </nz-input-group>
            <div class="justify-con tent-center col-lg-6">
                <ng-container [ngTemplateOutlet]="options"></ng-container>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Número de pedido">
        <div class="row m-0" *ngIf="active_number == 3">
            <nz-input-group class="col-lg-6">
                <input style="min-height: 60px;" type="number" [(ngModel)]="number" (ngModelChange)="changeValues($event)" nz-input placeholder="Ingrese número de pedido" />
            </nz-input-group>
            <div class="col-lg-6">
                <ng-container [ngTemplateOutlet]="options"></ng-container>
            </div>
        </div>
    </nz-tab>
</nz-tabset>

<general-orders-table [cols]="cols" [listOfAllData]="lstOrders" (refresh)="refresh($event)" [typeReport]="'provider'" [valuesTable]="valuesTable"></general-orders-table>



<ng-template #prefixTemplateUser><i nz-icon nzType="idcard"></i></ng-template>
<ng-template #prefixTemplateOrder><i nz-icon nzType="inbox"></i></ng-template>
<ng-template #prefixTemplateGuide><i nz-icon nzType="schedule"></i></ng-template>

<ng-template #options>
    <div class="d-flex flex-wrap ml-auto">
        <button (click)="search()" [disabled]="valuesTable.loading" nz-button [nzType]="'primary'" class="btn btn-success btn-lg font-weight-bold mr-2" [disabled]="!validateSearch()">Buscar</button>
        <general-data-options class="ml-auto" [export]="dataExport" [disabled]="valuesTable.loading || !validateSearch()" [exportDetail]="dataExportDetail" [listData]="lstOrdersId" [dataSearch]="dataSearch" [btnLg]="true"></general-data-options>
    </div>
</ng-template>