<div class="topbar">
    <div class="mr-md-4 mr-auto">
        <!-- <air-topbar-search></air-topbar-search> -->
        <air-subbar></air-subbar>
    </div>
    <div class="mr-auto d-none d-md-block">
        <air-topbar-version-check></air-topbar-version-check>
    </div>
    <div class="mb-0 mr-4 d-xl-block d-none">
        <air-topbar-status></air-topbar-status>
    </div>
    <div class="mb-0 mr-4 d-xl-block d-none">
        <speedometer></speedometer>
    </div>
    <div class="mr-4 d-none d-sm-block">
        <!-- <nz-progress nzType="circle" [nzPercent]="90" [nzStrokeColor]="{ '0%': '#108ee9', '50%': '#2db7f5', '100%': '#87d068' }" [nzWidth]="40"></nz-progress> -->
    </div>
    <div class="mr-4 d-none d-sm-block">
        <!-- <air-topbar-actions></air-topbar-actions> -->
    </div>
    <div class="">
        <air-topbar-user-menu></air-topbar-user-menu>
    </div>
</div>